<div class="card border-success border-1" style="margin-bottom: 2%" >
    <div class="card-img-top" *ngIf="!user.admin"
         style='background-image: url("assets/images/vms/{{ vm.type }}.png"); height: 100px;
background-position: 50% 50%; background-size: 100%; position: relative'>
        <small class="text-white m-2"
               style="position: absolute; right: 0; bottom: 0">{{ vm.type | translate}}</small>
    </div>
    <div class="card-body">
        <h4 class="card-title">
            <div class="row">
                <div class="col-6">
                  <span class="badge badge-pill"
                        [ngClass]="{
                        'badge-secondary': vm.status === 'stopped',
                        'badge-danger': vm.status === 'deleting',
                        'badge-info': vm.status === 'creating',
                        'badge-warning': vm.status === 'booting',
                        'badge-success': vm.status === 'running'
                                }"
                  >
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            *ngIf="vm.status === 'booting'  || vm.status === 'creating'"></span>{{ vm.status }}</span>
                            <!-- Y'avait un loading ici pour status -->
                    &nbsp;{{ vm.name }}&nbsp;<small clallass="text-muted">(#{{ vm.id }})</small>&nbsp;<small *ngIf="user.admin" class="text-muted">- {{ vm.user }}</small>
                    <br/>
                    <br/>
                    <p>{{ "vms.createdOn" | translate}} : {{vm.createdOn}}</p>
                </div>
                <div class="col-6">
                    <div class="spinner-border text-primary" role="status" *ngIf="vm.createdOn == null">
                        <span class="sr-only">{{ "vms.createdOn" | translate}}</span>
                    </div>
                    <p class="text-right">{{ vm.ip }}</p>
                    <p class="text-right" *ngIf="vm.status == 'running'">{{ "vms.uptime" | translate}} : {{secondsToDhms(vm.uptime)}} </p>
                </div>
            </div>
        </h4>
        <a href="#" [routerLink]="[vm.id]" class="stretched-link"></a>
    </div>
</div>
