<section class="main">
    <div class="row">
        <header class="col col-sm-12">
            <h1 class="title">{{'legal.title' | translate}}</h1>
        </header>
        <div class="col-sm-12">
            <p>{{'legal.presentation_1' | translate}} <a href="https://hosting.minet.net">hosting.minet.net</a> {{'legal.presentation_2' | translate}}</p>
            <p><strong>{{'legal.contact.title' | translate}}</strong></p>
            <ul>
                <li>
                    {{'legal.contact.address' | translate}}
                </li>
                <li>
                    {{'legal.contact.email_1' | translate}} <a href="mailto:minet@imtbs-tsp.eu">{{'legal.contact.email_2' | translate}}</a>
                </li>
            </ul>
            <br>
            <p><strong>{{'legal.director.title' | translate}}</strong></p>
            <ul>
                <li>
                    {{'legal.director.contact' | translate}}
                </li>
                <li>
                    {{'legal.director.email_1' | translate}} <a href="mailto:webmaster@listes.minet.net">{{'legal.director.email_2' | translate}}</a>
                </li>
            </ul>
            <br>
            <p><strong>{{'legal.application.title' | translate}}</strong></p>
            <p>{{'legal.application.description' | translate}}</p>
            <br>
            <p><strong>{{'legal.contributors.title' | translate}}</strong></p>
            <div class="container-fluid">
                <div class="col-6">
                    <ul>
                        <li>
                            {{'legal.contributors.name' | translate}} {{'legal.contributors.1.name' | translate}}
                            <p>
                                {{'legal.contributors.mail' | translate}} <a href="mailto:{{'legal.contributors.1.email' | translate}}">{{'legal.contributors.1.email' | translate}}</a>
                            </p>
                        </li>
                        <li>
                            {{'legal.contributors.name' | translate}} {{'legal.contributors.2.name' | translate}}
                            <p>
                                {{'legal.contributors.mail' | translate}} <a href="mailto:{{'legal.contributors.2.email' | translate}}">{{'legal.contributors.2.email' | translate}}</a>
                            </p>
                        </li>
                        <li>
                            {{'legal.contributors.name' | translate}} {{'legal.contributors.3.name' | translate}}
                            <p>
                                {{'legal.contributors.mail' | translate}} <a href="mailto:{{'legal.contributors.3.email' | translate}}">{{'legal.contributors.3.email' | translate}}</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
