<section class="main">
    <div class="row">
        <header class="col col-sm-12">
            <h1 class="title">Legal Notice</h1>
        </header>
        <div class="col-sm-12">
            <p>The website <a href="https://payment.minet.net">proxmox.minet.net</a> has been made by and for MiNET,
                Association Act 1901.</p>
            <p><strong>Contact</strong></p>
            <ul>
                <li>
                    Address : 9 rue Charles Fourier, 91000 Evry
                </li>
                <li>
                    E-mail : <a href="mailto:minet@imtbs-tsp.eu">minet@imtbs-tsp.eu</a>
                </li>
                <li>
                    Phone : 01 60 76 69 90
                </li>
            </ul>
            <br>
            <p><strong>Publication director</strong></p>
            <ul>
                <li>
                    Contact : MiNET's webmaster
                </li>
                <li>
                    E-Mail : <a href="mailto:webmaster@listes.minet.net">webmaster@listes.minet.net</a>
                </li>
            </ul>
            <br>
            <p><strong>Hosting</strong></p>
            <p>This website is hosted by MiNET on it's servers in France.</p>
            <br>
            <p><strong>Contributors</strong></p>
            <div class="container-fluid">
                <div class="col-6">
                    <ul>
                        <li>
                            Name : CINDRAK Dzenan
                            <p>
                                E-Mail : <a href="mailto:dzenan.cindrak@minet.net">dzenan.cindrak@minet.net</a>
                            </p>
                        </li>
                        <li>
                            Name : NEW CONTRIBUTOR
                            <p>
                                E-Mail : <a href="mailto:newcontributor@minet.net">newcontributor@minet.net</a>
                            </p>
                        </li>
                        <li>
                            Name : NEW CONTRIBUTOR
                            <p>
                                E-Mail : <a href="mailto:newcontributor@minet.net">newcontributor@minet.net</a>
                            </p>
                        </li>
                      <li>
                        ...........
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
