<div class="home container flex-fill">
    <h1 class="text-center mb-2">{{'home.title' | translate}}</h1>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorcode != 200 && errorcode != 201 && errorcode != -1 && this.user.freezeState == null">
        <b>{{'home.error.account' | translate }}</b>
        <p>{{'home.error.account.message' | translate }}</p>
    </div>
    <div *ngIf="!user.admin" class="userhome">
       <div class="alert alert-primary text-center" *ngIf="this.user.freezeState == 1">
            <h1>❄️</h1>
            <h4>{{'account.freeze.title' | translate }}</h4>
            <p></p>
            <p>{{'account.freeze.1.description' | translate }}<strong>{{'account.freeze.1.description.strong' | translate }} </strong></p>
        </div>
        <div class="alert alert-primary text-center" *ngIf="this.user.freezeState == 2">
            <h1>❄️</h1>
            <h4>{{'account.freeze.title' | translate }}</h4>
            <p>{{'account.freeze.2.description.1' | translate }}<strong>{{'account.freeze.2.description.1.strong' | translate }}</strong> {{'account.freeze.2.description.2' | translate }}</p>
            <p><strong>{{'account.freeze.2.description.2.strong' | translate }}</strong></p>
        </div>
        <div class="alert alert-primary text-center" *ngIf="this.user.freezeState >= 3 ">
            <h1>❄️</h1>
            <h4>{{'account.freeze.title' | translate }}</h4>
            <p>{{'account.freeze.3.description' | translate }}<br><strong>{{'account.freeze.3.description.strong' | translate }}</strong></p>
        </div>
        <div class="alert alert-warning text-center" *ngIf="this.user.freezeState > 0 && countvm == 0">
            <h4>{{'account.expired.title' | translate }}</h4>
            <p>{{'account.expired.description' | translate }}</p>
        </div>
        <div class="alert alert-danger text-center" *ngIf="!this.user.chartevalidated && this.user.freezeState > 3">
            <b>{{'account.nocharter.title' | translate }}</b>
            <p>{{'account.nocharter.desc.1' | translate}}<a href="https://chartes.minet.net/">{{'account.nocharter.desc.a' | translate}}</a>{{'account.nocharter.desc.2' | translate}}</p>
        </div>

        <div class="alert alert-info text-center" role="alert" *ngIf="this.user.freezeState < 3">
            <h3 class="alert-heading">
                {{'home.description' | translate}}
            </h3>
            <hr>
            <p>
                {{'home.read_1' | translate}} <a href="https://chartes.minet.net/" target="_blank">{{'home.read_2' | translate}}</a> {{'home.read_3' | translate}}
                {{'home.read_4' | translate}} <a href="mailto:webmaster@listes.minet.net"> {{'home.read_5' | translate}}</a> {{'home.read_6' | translate}}
            </p>
        </div>

        <div class="alert alert-danger text-center" *ngIf="this.user.cotisation === 0">
            <b>{{'home.subscription.expired_1' | translate}}</b>
            <p>{{'home.subscription.expired_2' | translate}} <a href="https://payment.minet.net/">{{'home.subscription.expired_3' | translate}}</a> {{'home.subscription.expired_4' | translate}}</p>
        </div>
        <div class="alert alert-danger text-center" *ngIf="!this.user.chartevalidated && this.user.cotisation < 3">
            <b>{{'home.charter.notsigned_1' | translate}}</b>
            <p>{{'home.charter.notsigned_2' | translate}} <a href="https://chartes.minet.net/">{{'home.charter.notsigned_3' | translate}}</a> {{'home.charter.notsigned_4' | translate}}</p>
        </div>

        <div class="userok" *ngIf='this.user.freezeState == 0 && this.user.chartevalidated'>
            <div class="d-flex justify-content-evenly flex-wrap">
                <div>
                    <strong class="text-center" [ngStyle]="{'color' : (nb_cpu_max - (this.user.usedCPU +nb_cpu_selected) >= 0) ? 'black' : '#ffc107'}">{{nb_cpu_max - (this.user.usedCPU +nb_cpu_selected) > 0 ? nb_cpu_max - (this.user.usedCPU +nb_cpu_selected) : 0 }} CPUs restant</strong>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="1000" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: {{(nb_cpu_max - (this.user.usedCPU +nb_cpu_selected))*100/nb_cpu_max}}%"></div>
                    </div>
                </div>
                    <div>
                        <strong class="text-center" [ngStyle]="{'color' : (nb_ram_max - (this.user.usedRAM +nb_ram_selected) >= 0) ? 'black' : '#ffc107'}">{{nb_ram_max - (this.user.usedRAM +nb_ram_selected) > 0 ? nb_ram_max - (this.user.usedRAM +nb_ram_selected) : 0}} GO de RAM restant</strong>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" style="width: {{(nb_ram_max - (this.user.usedRAM +nb_ram_selected))*100/nb_ram_max}}%"></div>
                        </div>
                    </div>
                    <div>
                        <strong class="text-center" [ngStyle]="{'color' : (nb_storage_max - (this.user.usedStorage +nb_storage_selected) >= 0) ? 'black' : '#ffc107'}">{{nb_storage_max - (this.user.usedStorage +nb_storage_selected) > 0 ? nb_storage_max - (this.user.usedStorage +nb_storage_selected) : 0}} GO de stockage restant</strong>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" style="width: {{(nb_storage_max - (this.user.usedStorage +nb_storage_selected))*100/nb_storage_max}}%"></div>
                        </div>
                    </div>
                </div>
            <br>
            <hr>
            <div class="alert alert-warning text-center" *ngIf="this.user.usedCPU == nb_cpu_max or this.user.usedRAM == nb_ram_max or  this.user.usedStorage == nb_storage_max">
                <b>{{'home.createVm.error.maxVmAlready_1' | translate}} </b>
                <p>{{'home.createVm.error.maxVmAlready_2' | translate}}
            </div>

            <div class="card mb-3" *ngIf="this.user.usedCPU != nb_cpu_max && this.user.usedRAM != nb_ram_max &&  this.user.usedStorage != nb_storage_max">
                <h4 class="card-header">
                    {{'home.createVm.form.title' | translate}}
                </h4>
                <div class="card-body">
                    <div [hidden]="display_ressource_configuration">
                        <p class="lead">{{'home.createVm.form.overview' | translate}}</p>
                        <dl>
                            <dt>{{'home.vm_type.bare' | translate}}</dt>
                            <dd>{{'home.vm_desc.bare' | translate}}</dd>
                            <dt><s>{{'home.vm_type.web' | translate}}</s></dt>
                            <dd><s>{{'home.vm_desc.web' | translate}}</s></dd>
                        </dl>
                    </div>
                    <div [hidden]="!display_ressource_configuration">
                        <p class="lead">Vous disposez de ressources gratuite que vous pouvez attribuer à 1, 2 ou 3 machines virtuelles</p>
                        <dl>
                            <dt>6 CPUs</dt>
                            <dt>8 GO de RAM</dt>
                            <dt>30 GO de stockage</dt>
                        </dl>
                    </div>
                    <hr>
                    <div [hidden]="display_ressource_configuration">
                        <div class="alert alert-danger text-center" *ngIf="errorcode != 201 && errorcode != -1">
                            <b>{{'home.createVm.form.error' | translate}} </b><br/>
                            {{ errorMessage }}
                        </div>
                        <form (ngSubmit)="configurationForm(vm)" #vmForm="ngForm">
                            <div *ngIf="!loading && errorcode !=201">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="type-select-prepend">{{'home.createVm.form.type' | translate}}</span>
                                    </div>
                                    <select class="form-control" id="type"
                                            aria-label="Type"
                                            aria-describedby="type-select-prepend"
                                            required
                                            [(ngModel)]="vm.type" name="type"
                                            #type="ngModel">
                                        <option *ngFor="let image of images" [value]="image.id">{{image.name | translate}}</option>
                                    </select>
                                </div>
                                <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                                    {{'home.createVm.form.error.type' | translate}}
                                </div>
                                <div *ngIf="type.valid">
                                    <div class="form-group">
                                        <label for="name">{{'home.createVm.form.vmName' | translate}}</label>
                                        <input type="text" class="form-control" id="name"
                                               required
                                               [(ngModel)]="vm.name" name="name"
                                               #name="ngModel">

                                    </div>
                                    <div [hidden]="name.valid || !rulesCheck"
                                         class="alert alert-danger">
                                        {{'home.createVm.form.error.vmName' | translate}}
                                    </div>

                                    <div class="form-group">
                                        <label for="sshKey">{{'home.createVm.form.sshKey' | translate}} <a href="manual#sshKeyGenerationEn" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a></label>

                                        <input type="text" class="form-control" id="sshKey"
                                               [(ngModel)]="vm.sshKey" name="sshKey" required="required"
                                               #sshKey="ngModel">
                                    </div>
                                    <div [hidden]="sshKey.valid ||  !rulesCheck " class="alert alert-danger">
                                        {{'home.createVm.form.error.sshKey_1' | translate}}
                                    </div>
                                    <div [hidden]="!rulesCheck || checkSSHkey(vm) || !sshKey.valid" class="alert alert-danger">
                                        {{'home.createVm.form.error.sshKey_2' | translate}}
                                    </div>
                                    <div class="form-group">
                                        <label for="user">{{'home.createVm.form.user' | translate}}</label>
                                        <input type="text" class="form-control" id="user"
                                               [(ngModel)]="vm.user" name="user"
                                               required="required"
                                               #user="ngModel">
                                    </div>
                                    <div [hidden]="user.valid ||  !rulesCheck" class="alert alert-danger">
                                        {{'home.createVm.form.error.user_1' | translate}}
                                    </div>
                                    <div [hidden]="!rulesCheck || !checkUser(vm) || !user.valid" class="alert alert-danger">
                                        {{'home.createVm.form.error.user_2' | translate}}
                                    </div>

                                    <div class="form-group">
                                        <label for="password">{{'home.createVm.form.password' | translate}}</label>
                                        <input type="password" class="form-control" id="password"
                                               [(ngModel)]="vm.password" name="password"
                                               #password="ngModel"
                                               required="required"
                                               ng-model="password" ng-change="check_password(vm)">
                                    </div>
                                    

                                    <div class="form-group">
                                        <label for="confirmPassword">{{'home.createVm.form.confirmPassword' | translate}}</label>
                                        <input type="password" class="form-control" id="confirmPassword"
                                               [(ngModel)]="confirmPassword" name="confirmPassword"
                                               #password="ngModel"
                                               required="required"
                                               ng-model="confirmPassword" ng-change="checkConfirmPassword(vm)">
                                    </div>
                                    <div [hidden]="!rulesCheck || checkConfirmPassword(vm)" class="alert alert-danger">
                                        {{'home.confirmPassword.form.error' | translate}}
                                    </div>
                                    <div *ngIf="passwordErrorMessage != ''" class="alert alert-success" [innerHTML]="passwordErrorMessage"></div>

                                    <div class="form-check mb-2 text-center m-3">
                                        <input (click)="rules_checked()" [checked]="rulesCheck" id="checkbox"
                                               type="checkbox" class="form-check-input">
                                        <label class="form-check-label" for="checkbox">{{'home.createVm.form.agree_1' | translate}} <a target="_blank" href="https://chartes.minet.net/{{ this.cookie.get('lang') }}/chartehosting">{{'home.createVm.form.agree_2' | translate}}</a>.</label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button [disabled]="!check_password(vm) || !vmForm.valid  || !rulesCheck || checkUser(vm) || !checkSSHkey(vm) || !checkConfirmPassword(vm)" type="submit"
                                            class="btn btn-primary text-center" >{{'home.createVm.form.submit' | translate}}
                                    </button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                    <div>
                        <div class="alert alert-danger text-center" *ngIf="errorcode != 201 && errorcode != -1">
                            <b>{{'home.createVm.form.error' | translate}} </b><br/>
                            {{ errorMessage }}
                        </div>
                        
                        
                    <div [hidden]="!display_ressource_configuration || loading">
                        
                    <p class="lead">Configurer votre VM</p>
                    <form #vmForm="ngForm">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5><label for="customRange3" class="form-label">Nombre de CPU : <span class="badge         text-bg-primary">{{nb_cpu_selected}} CPUs</span>
                                </label></h5>
                                <input type="range" class="form-range" min="0" max="{{nb_cpu_max}}" step="1" id="cpu_slider"    (change)="slider_change()" value="0" [disabled]="loading"><!--[(value)]="nb_cpu_selected" [(ngModel)]="nb_cpu_selected"-->
                                <div class="d-flex justify-content-between">
                                    <div><small class="text-secondary">0</small></div>
                                    <div><small class="text-secondary">{{nb_cpu_max}} CPUs</small></div>
                                </div>
                            </div>
                            <div>
                                <h5><label for="customRange3" class="form-label">RAM : <span class="badge text-bg-primary">{{nb_ram_selected}} GO</   span>
                                </label></h5>
                                <input type="range" class="form-range" min="0" max="{{nb_ram_max}}" step="1" id="ram_slider"   (change)="slider_change()"  value="0"[disabled]="loading" ><!--value="{{nb_ram_selected}}"  [(ngModel)]="nb_ram_selected"-->
                                <div class="d-flex justify-content-between">
                                    <div><small class="text-secondary">0</small></div>
                                    <div><small class="text-secondary">{{nb_ram_max}} Go</small></div>
                                </div>
                            </div>
                            <div>
                                <h5><label for="customRange3" class="form-label">Stockage : <span class="badge  text-bg-primary">{{nb_storage_selected}}  GO</span>
                                </label></h5>
                                <input type="range" class="form-range" min="0" max="{{nb_storage_max}}" step="10" id="storage_slider"   (change)="slider_change()" value="0" [disabled]="loading"><!--value="{{nb_storage_selected}}" [(ngModel)]="nb_storage_selected"-->
                                <div class="d-flex justify-content-between">
                                    <div><small class="text-secondary">0</small></div>
                                    <div><small class="text-secondary">{{nb_storage_max}} Go</small></div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="text-center">
                            <br><br>
                            <div class="alert alert-warning text-center" >
                                <b>Attention, une fois créée, il n'est plus possible de ré-allouer les ressources !</b><br/>
                                Il faudra supprimer les machines pour les rendre accessible de nouveau
                            </div>

                            <br><br><button class="btn btn-secondary text-center" style="margin-right: 10px;" (click)="back_from_ressource_conf_page()" [disabled]="loading">Retour</button>
                            <button [disabled]="nb_storage_selected == 0 || nb_ram_selected == 0 || nb_cpu_selected == 0 || loading" type="submit"
                                    class="btn btn-primary text-center" (click)="create_vm(vm)" >Créer ma VM
                            </button>
                            
                        </div>
                    </form>
                    </div>
                    </div>
                    <div class="text-center" *ngIf="loading">
                        {{'home.createVm.loading' | translate}}
                        <p *ngIf="progress == 100">{{'home.createVm.success_1' | translate}} <a [routerLink]="['vms']">{{'home.createVm.success_2' | translate}}</a></p>
                    </div>
                    <div *ngIf="loading">
                        <div class="progress" >
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%"><strong class="text-light" >{{progress | number:'1.0-0'}}%</strong></div>
                        </div>
                        <p class="text-primary text-center font-weight-light font-italic">{{creation_state}}</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="user.admin" class="adminmenu">
        <p>{{'home.admin.description_1' | translate}}<br>
            {{'home.admin.description_2' | translate}}</p>bg 
        <h2>{{'home.admin.stats.title' | translate}}</h2>
        <br>
        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{'home.admin.stats.createdVm' | translate}}</h5>
                    <a [routerLink]="['vms']" class="btn btn-primary">{{ countvm }}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{'home.admin.stats.activeVm' | translate}}</h5>
                    <a [routerLink]="['vms']" class="btn btn-primary">{{ countactivevm }}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{'home.admin.stats.dns' | translate}}</h5>
                    <a [routerLink]="['dns']" class="btn btn-primary">{{ countdns }}</a>
                </div>
            </div>
        </div>
    </div>
</div>