<div class="home container flex-fill">
    <h1 class="text-center mb-2">{{'home.title' | translate}}</h1>
    <hr>
    <div class="alert alert-danger text-center" *ngIf="errorcode != 200 && errorcode != 201 && errorcode != -1 && this.user.freezeState == null">
        <b>{{'home.error.account' | translate }}</b>
        <p>{{'home.error.account.message' | translate }}</p>
    </div>
    <div *ngIf="!user.admin" class="userhome">
       <div class="alert alert-primary text-center" *ngIf="this.user.freezeState == 1">
            <h1>❄️</h1>
            <h4>{{'account.freeze.title' | translate }}</h4>
            <p></p>
            <p>{{'account.freeze.1.description' | translate }}<strong>{{'account.freeze.1.description.strong' | translate }} </strong></p>
        </div>
        <div class="alert alert-primary text-center" *ngIf="this.user.freezeState == 2">
            <h1>❄️</h1>
            <h4>{{'account.freeze.title' | translate }}</h4>
            <p>{{'account.freeze.2.description.1' | translate }}<strong>{{'account.freeze.2.description.1.strong' | translate }}</strong> {{'account.freeze.2.description.2' | translate }}</p>
            <p><strong>{{'account.freeze.2.description.2.strong' | translate }}</strong></p>
        </div>
        <div class="alert alert-primary text-center" *ngIf="this.user.freezeState >= 3 ">
            <h1>❄️</h1>
            <h4>{{'account.freeze.title' | translate }}</h4>
            <p>{{'account.freeze.3.description' | translate }}<br><strong>{{'account.freeze.3.description.strong' | translate }}</strong></p>
        </div>
        <div class="alert alert-warning text-center" *ngIf="this.user.freezeState >= 0 && countvm == 0">
            <h4>{{'account.expired.title' | translate }}</h4>
            <p>{{'account.expired.description' | translate }}</p>
        </div>
        <div class="alert alert-danger text-center" *ngIf="!this.user.chartevalidated && this.user.freezeState > 3">
            <b>{{'account.nocharter.title' | translate }}</b>
            <p>{{'account.nocharter.desc.1' | translate}}<a href="https://chartes.minet.net/">{{'account.nocharter.desc.a' | translate}}</a>{{'account.nocharter.desc.2' | translate}}</p>
        </div>

        <div class="alert alert-info text-center" role="alert" *ngIf="this.user.freezeState < 3">
            <h3 class="alert-heading">
                {{'home.description' | translate}}
            </h3>
            <hr>
            <p>
                {{'home.read_1' | translate}} <a href="https://chartes.minet.net/" target="_blank">{{'home.read_2' | translate}}</a> {{'home.read_3' | translate}}
                {{'home.read_4' | translate}} <a href="mailto:webmaster@listes.minet.net"> {{'home.read_5' | translate}}</a> {{'home.read_6' | translate}}
            </p>
        </div>

        <div class="alert alert-danger text-center" *ngIf="this.user.cotisation === 0">
            <b>{{'home.subscription.expired_1' | translate}}</b>
            <p>{{'home.subscription.expired_2' | translate}} <a href="https://payment.minet.net/">{{'home.subscription.expired_3' | translate}}</a> {{'home.subscription.expired_4' | translate}}</p>
        </div>
        <div class="alert alert-danger text-center" *ngIf="!this.user.chartevalidated && this.user.cotisation < 3">
            <b>{{'home.charter.notsigned_1' | translate}}</b>
            <p>{{'home.charter.notsigned_2' | translate}} <a href="https://chartes.minet.net/">{{'home.charter.notsigned_3' | translate}}</a> {{'home.charter.notsigned_4' | translate}}</p>
        </div>

        <div class="userok" *ngIf='this.user.freezeState == 0 && this.user.chartevalidated'>
            <div class="alert alert-warning text-center" *ngIf="countvm >= maxVmPerUser">
                <b>{{'home.createVm.error.maxVmAlready_1' | translate}} {{ countvm }} {{'home.createVm.error.maxVmAlready_2' | translate}}</b>
                <p>{{'home.createVm.error.maxVmAlready_3' | translate}}
            </div>
            <div class="alert alert-secondary text-center" *ngIf="countvm < maxVmPerUser">
                <b>{{'home.createVm.numberMoreVm_1' | translate}} {{ maxVmPerUser - countvm}} {{'home.createVm.numberMoreVm_2' | translate}}</b>
            </div>

            <div class="card mb-3" *ngIf="countvm < maxVmPerUser">
                <h4 class="card-header">
                    {{'home.createVm.form.title' | translate}}
                </h4>
                <div class="card-body">
                    <p class="lead">{{'home.createVm.form.overview' | translate}}</p>
                    <dl>
                        <dt>{{'home.vm_type.bare' | translate}}</dt>
                        <dd>{{'home.vm_desc.bare' | translate}}</dd>
                        <dt>{{'home.vm_type.web' | translate}}</dt>
                        <dd>{{'home.vm_desc.web' | translate}}</dd>
                    </dl>
                    <hr>
                    <div>
                        <div class="alert alert-danger text-center" *ngIf="errorcode != 201 && errorcode != -1">
                            <b>{{'home.createVm.form.error' | translate}} </b><br/>
                            {{ errorMessage }}
                        </div>
                        <form (ngSubmit)="create_vm(vm)" #vmForm="ngForm">
                            <div *ngIf="!loading && errorcode !=201">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="type-select-prepend">{{'home.createVm.form.type' | translate}}</span>
                                    </div>
                                    <select class="form-control" id="type"
                                            aria-label="Type"
                                            aria-describedby="type-select-prepend"
                                            required
                                            [(ngModel)]="vm.type" name="type"
                                            #type="ngModel">
                                        <option *ngFor="let image of images" [value]="image.id">{{image.name | translate}}</option>
                                    </select>
                                </div>
                                <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                                    {{'home.createVm.form.error.type' | translate}}
                                </div>
                                <div *ngIf="type.valid">
                                    <div class="form-group">
                                        <label for="name">{{'home.createVm.form.vmName' | translate}}</label>
                                        <input type="text" class="form-control" id="name"
                                               required
                                               [(ngModel)]="vm.name" name="name"
                                               #name="ngModel">

                                    </div>
                                    <div [hidden]="name.valid || !rulesCheck"
                                         class="alert alert-danger">
                                        {{'home.createVm.form.error.vmName' | translate}}
                                    </div>

                                    <div class="form-group">
                                        <label for="sshKey">{{'home.createVm.form.sshKey' | translate}} <a href="manual#sshKeyGenerationEn" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a></label>

                                        <input type="text" class="form-control" id="sshKey"
                                               [(ngModel)]="vm.sshKey" name="sshKey" required="required"
                                               #sshKey="ngModel">
                                    </div>
                                    <div [hidden]="sshKey.valid ||  !rulesCheck " class="alert alert-danger">
                                        {{'home.createVm.form.error.sshKey_1' | translate}}
                                    </div>
                                    <div [hidden]="!rulesCheck || checkSSHkey(vm) || !sshKey.valid" class="alert alert-danger">
                                        {{'home.createVm.form.error.sshKey_2' | translate}}
                                    </div>
                                    <div class="form-group">
                                        <label for="user">{{'home.createVm.form.user' | translate}}</label>
                                        <input type="text" class="form-control" id="user"
                                               [(ngModel)]="vm.user" name="user"
                                               required="required"
                                               #user="ngModel">
                                    </div>
                                    <div [hidden]="user.valid ||  !rulesCheck" class="alert alert-danger">
                                        {{'home.createVm.form.error.user_1' | translate}}
                                    </div>
                                    <div [hidden]="!rulesCheck || !checkUser(vm) || !user.valid" class="alert alert-danger">
                                        {{'home.createVm.form.error.user_2' | translate}}
                                    </div>

                                    <div class="form-group">
                                        <label for="password">{{'home.createVm.form.password' | translate}}</label>
                                        <input type="password" class="form-control" id="password"
                                               [(ngModel)]="vm.password" name="password"
                                               #password="ngModel"
                                               required="required"
                                               ng-model="password" ng-change="check_password(vm)">
                                    </div>
                                    <div *ngIf="passwordErrorMessage != ''" class="alert alert-danger" [innerHTML]="passwordErrorMessage">

                                    </div>

                                    <div class="form-group">
                                        <label for="confirmPassword">{{'home.createVm.form.confirmPassword' | translate}}</label>
                                        <input type="password" class="form-control" id="confirmPassword"
                                               [(ngModel)]="confirmPassword" name="confirmPassword"
                                               #password="ngModel"
                                               required="required"
                                               ng-model="confirmPassword" ng-change="checkConfirmPassword(vm)">
                                    </div>
                                    <div [hidden]="!rulesCheck || checkConfirmPassword(vm)" class="alert alert-danger">
                                        {{'home.confirmPassword.form.error' | translate}}
                                    </div>

                                    <div class="form-check mb-2 text-center m-3">
                                        <input (click)="rules_checked()" [checked]="rulesCheck" id="checkbox"
                                               type="checkbox" class="form-check-input">
                                        <label class="form-check-label" for="checkbox">{{'home.createVm.form.agree_1' | translate}} <a target="_blank" href="https://chartes.minet.net/{{ this.cookie.get('lang') }}/chartehosting">{{'home.createVm.form.agree_2' | translate}}</a>.</label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button [disabled]="!check_password(vm) || !vmForm.valid  || !rulesCheck || checkUser(vm) || !checkSSHkey(vm) || !checkConfirmPassword(vm)" type="submit"
                                            class="btn btn-primary text-center" >{{'home.createVm.form.submit' | translate}}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center" *ngIf="loading">
                        {{'home.createVm.loading' | translate}}
                        <p *ngIf="progress == 100">{{'home.createVm.success_1' | translate}} <a [routerLink]="['vms']">{{'home.createVm.success_2' | translate}}</a></p>
                    </div>

                    <div class="progress" *ngIf="loading">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="user.admin" class="adminmenu">
        <p>{{'home.admin.description_1' | translate}}<br>
            {{'home.admin.description_2' | translate}}</p>
        <h2>{{'home.admin.stats.title' | translate}}</h2>
        <br>
        <div class="card-deck mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{'home.admin.stats.createdVm' | translate}}</h5>
                    <a [routerLink]="['vms']" class="btn btn-primary">{{ countvm }}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{'home.admin.stats.activeVm' | translate}}</h5>
                    <a [routerLink]="['vms']" class="btn btn-primary">{{ countactivevm }}</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{'home.admin.stats.dns' | translate}}</h5>
                    <a [routerLink]="['dns']" class="btn btn-primary">{{ countdns }}</a>
                </div>
            </div>
        </div>
    </div>
</div>