<div class="home container flex-fill">

  <h3 style="margin-bottom: 3%" class="text-center text-muted"><u>MiNET's Hosting</u></h3>
  <div class="alert alert alert-success" role="alert">
    <p>
      Here you can create a virtual machine which will host your website or whatever service you need.
    </p>
    <hr>
    <p>
      Be sure to read our <a [routerLink]="['rules']">rules</a> and our user's manual before. Do not hesitate to contact our <a href="mailto:webmaster@listes.minet.net"> webmaster</a> for any question.
    </p>
  </div>

  <div class="card text-white bg-dark mb-3">
    <div class="card-title text-center">Create your VM</div>
    <div class="card-header">
      <p class="small"><i>Bare Vm: Bare Debian 10 VM, use it as storage, compute machine or test machine.</i></p>
      <p class="small"><i>Simple web server: Wordpress ready to use with ftps server.</i></p>
    </div>
    <div class="card-body">
      Create a new VM:
      <div>
        <form (ngSubmit)="create_vm(vm)" #vmForm="ngForm">
          <div *ngIf="vmForm.submitted && !vmCreated">
            <div class="d-flex justify-content-center">
              <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          <div class="text-center" *ngIf="vmForm.submitted && vmCreated">
            Your VM is being created, check progress in the VMs tab.
          </div>
          <div *ngIf="!vmForm.submitted">
            <div class="">
            </div>
            <div class="form-group">
              <label for="type">Type</label>
              <select class="form-control" id="type"
                      required
                      [(ngModel)]="vm.type" name="type"
                      #type="ngModel">
                <option *ngFor="let image of images" [value]="image.id">{{image.name}}</option>
              </select>
            </div>
            <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
              Type is required
            </div>

            <div *ngIf="!type.pristine">
              <div class="form-group">
                <label for="name">VM name</label>
                <input type="text" class="form-control" id="name"
                       required
                       [(ngModel)]="vm.name" name="name"
                       #name="ngModel">

              </div>
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                Name is required
              </div>

              <div class="form-group">
                <label for="type">SSH key auth</label>
                <select class="form-control" id="ssh"
                        required
                        [(ngModel)]="vm.ssh" name="ssh"
                        #type="ngModel" #ssh="ngModel">
                  <option>Yes</option>
                  <option>No</option>
                </select>
                <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
                  SSH key auth is required
                </div>
              </div>

              <div *ngIf="ssh.value == 'Yes'" class="form-group">
                <label for="sshKey">SSH key</label>
                <input type="text" class="form-control" id="sshKey"
                       [(ngModel)]="vm.sshKey" name="sshKey"
                       #sshKey="ngModel">
              </div>

              <div class="form-group">
                <label for="user">VM user</label>
                <input type="text" class="form-control" id="user"
                       [(ngModel)]="vm.user" name="user"
                       required="required"
                       #user="ngModel">
              </div>
              <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
                User is required
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password"
                       [(ngModel)]="vm.password" name="password"
                       #password="ngModel"
                       required="required">
              </div>
              <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
              </div>

              <div class="form-check mb-2">
                <input (click)="rules_checked()" [checked]="rulesCheck" id="checkbox" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="checkbox">I agree with MiNET's and MiNET's Hosting service <a [routerLink]="['rules']">rules</a>.</label>
              </div>


            </div>
          <button *ngIf="vmForm.valid && rulesCheck" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>


</div>
