<div class="vms container flex-fill" *ngIf="user.admin">
    <h1 class="text-center mb-5" >{{ "deletevm.listTitle" | translate}}</h1>
    <div class="row">
        <div class="card flex-fill mb-3" *ngFor="let vm of vmsToDelete$ | async">
            <div *ngIf="vm.name">
                <h5 class="card-header">Name: {{ vm.name }}</h5>
            </div>
            <div *ngIf="!vm.name">
                <i class="fa fa-spinner fa-spin"></i> Loading...
            </div>
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div>
                        <h5 class="card-title">Owner: {{ vm.user }}</h5>
                        <p class="card-text">Created: {{ vm.createdOn }}</p>
                    </div>
                    <div class="ml-auto" *ngIf="vm.status !== 'deleting'">
                        <button class="btn btn-primary btn-danger" [disabled]="!vm.name" (click)="delete_vm(vm)" data-bs-dismiss="modal">{{ "deletevm.delete" | translate }}</button>
                    </div>
                    <div class="ml-auto" *ngIf="vm.status === 'deleting'">
                        <i class="fa fa-spinner fa-spin text-danger"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <div *ngIf="vmsService.isUpdatingExpiredUsers || vmsService.isUpdatingVms > 0 || vmsService.isUpdatingVmIds; else loading">
            <i class="fa fa-spinner fa-spin"></i>  {{ "deletevm.loading" | translate }}
        </div>
        <ng-template #loading>
            <h4 *ngIf="(vmsToDelete$ | async).length === 0" class="text-danger">{{ "deletevm.noVms" | translate}}</h4>
        </ng-template>
    </div>

</div>