<div *ngIf="loading && (user.chartevalidated || user.admin)">
    <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        
    </div>
</div>

<div class="vms container flex-fill" *ngIf=" ((this.user.chartevalidated && this.user.cotisation === 1) || this.user.admin)" >
    <h1 class="text-center mb-2" *ngIf="!user.admin">My VMs</h1>
    <h1 class="text-center mb-2" *ngIf="user.admin">VMs List</h1>
    <div class="text-center"><button class="btn btn-primary" href="#" *ngIf="user.admin" [routerLink]="['/history']" [routerLinkActiveOptions]="{exact: true}"  [routerLinkActive]="['active', 'text-primary']">IP History</button></div>

    <ngb-pagination *ngIf="user.admin" [collectionSize]="totalVm" [pageSize]="pageSize" [(page)]="page"
                    aria-label="Default pagination" (pageChange)="loadPage()"></ngb-pagination>
    
    <div class="text-center">
        
        <ng-container *ngIf="user.vms.length == 0 && !user.admin && !loading">
            <h4 class="text-danger">You currently have no VMs, create one first!</h4>
        </ng-container>
        <ng-container *ngIf="user.vms.length == 0 && user.admin && !loading">
            <h4 class="text-danger">No VMs created</h4>
        </ng-container>
        <ng-container *ngIf="user.vms.length != 0 && !user.admin">
            <button *ngIf="!loading" class="btn btn-primary" (click)="scrollSsh(ssh)">Show the web-based SSH interface</button>
        </ng-container>
    </div>
    <hr>
    <div>
        <div class="comment" style="color:gray; font-style: italic;margin-bottom:10px;" *ngIf="!loading && user.vms.length !=0 "><span>VM's information are refreshed every 30s</span></div>
        <div class="row" *ngFor="let vm of user.vms | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            
            <div class="col-12" >
                <div class="card border-success border-1" style="margin-bottom: 2%" >
                    <div class="card-img-top" *ngIf="!user.admin"
                         style='background-image: url("assets/images/vms/{{ vm.type }}.png"); height: 100px;
background-position: 50% 50%; background-size: 100%; position: relative'>
                        <small class="text-white m-2"
                               style="position: absolute; right: 0; bottom: 0">{{ vm.type }}</small>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <div class="row">
                                <div class="col-6">
                                  <span class="badge badge-pill"
                                        [ngClass]="{
                                        'badge-danger': vm.status === 'stopped',
                                        'badge-info': vm.status === 'creating',
                                        'badge-warning': vm.status === 'booting',
                                        'badge-success': vm.status === 'running'
                                                }"
                                  >
                                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"
                                            *ngIf="vm.status === 'booting'  || vm.status === 'creating'"></span>{{ vm.status }}</span>
                                    &nbsp;{{ vm.name }}&nbsp;<small class="text-muted">(#{{ vm.id }})</small>&nbsp;<small *ngIf="user.admin" class="text-muted">by {{ vm.user }}</small>
                                    <br/>
                                    <br/>
                                    <p>Created on: {{vm.createdOn}}</p>

                                </div>
                                <div class="col-6">
                                    <div class="spinner-grow text-primary" role="status" *ngIf="vm.ip == null">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <p class="text-right">{{ vm.ip }}</p>
                                    <p class="text-right" *ngIf="vm.status == 'running'">Uptime: {{secondsToDhms(vm.uptime)}} </p>
                                </div>

                            </div>
                        </h4>
                        <a href="#" [routerLink]="[vm.id]" class="stretched-link"></a>

                    </div>
                </div>
            </div>
        </div>
        <div #ssh>
            <hr *ngIf="showSsh">
            <app-ssh *ngIf="showSsh"></app-ssh>
        </div>
    </div>
</div><br/>
<div class="alert alert-danger text-center" *ngIf="this.user.cotisation === 0">
    <b>Expired subscription</b>
    <p>To manage your VMs you have to renew your subscription ! <a href="https://payment.minet.net/">click here</a> to renew your subscription</p>
</div>

<div class="alert alert-danger text-center" *ngIf="!this.user.chartevalidated && !user.admin && this.user.cotisation ===1">
    <b>Unsigned charter !</b>
    <p>To manage your VMs you have to sign the hosting charter ! <a href="https://chartes.minet.net/">click here</a> to sign the rules</p>
</div>
<ngb-pagination *ngIf="user.admin" [collectionSize]="totalVm" [pageSize]="pageSize" [(page)]="page"
                aria-label="Default pagination"></ngb-pagination>
<hr>

