<div *ngIf="loading">
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="vms container" *ngIf="!loading">

  <div class="card-body" *ngIf="user.vms.length == 0">
    No deployments yet, create them from the Home page
  </div>
  <div class="flex-fill">

    <table class="table table-dark" *ngIf="user.vms.length !=0">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">IPs</th>
        <th scope="col">Type</th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vm of user.vms">
        <th scope="row"><a href="#" [routerLink]="[vm.id]">{{vm.id}}</a></th>
        <td>{{vm.name}}</td>
        <td>{{vm.ip}}</td>
        <td>{{vm.type}}</td>
        <td>
          <button *ngIf="vm.status === 'booting'  || vm.status === 'creating'" class="btn btn-sm btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            {{vm.status}}
          </button>

          <button *ngIf="vm.status != 'booting' && vm.status != 'creating'" class="btn btn-sm btn-primary" type="button" disabled>
            {{vm.status}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <button *ngIf="user.vms.length != 0 && !loading" class="btn btn-info" (click)="showSsh = !showSsh">SSH into one of your VMs</button>
    <app-ssh *ngIf="showSsh"></app-ssh>
  </div>
</div>
