<div class="doc">

  <h3 class="text-center" style="padding-bottom: 5%; padding-top: 1%">Internal rules of the MiNET association and its hosting service</h3>

  <div class="overflow-auto text-justify card"
       style="height: 70vh;padding-left: 2%;padding-right: 2%;padding-bottom: 2%">
    <p>The present rules define the use of the Maisel network for the
      members of the Minet association.</p>

    <p></p><h5 class="text-center"> Application field</h5>
    <p></p>
    <p>This regulation is based on the law n° 88-19 of the 5th of January, 1988 relating to
      the data-processing fraud, the law of the 3th of July, 1985 relating to the protection
      of software and the law n° 85-660 of January 6, 1978 relating to computer science,
      files and freedom. It applies to all of the members of the association Minet who use
      data- processing systems connected to the Maisel network. The following data-
      processing systems are concerned : </p>
    <p>
    </p>
    <ul>
      <li>the systems of the association</li>
      <li>the systems of Telecom SudParis &amp; Telecom Ecole de Management (S21A or others
        departments)
      </li>
      <li> all systems to which it is possible to be connected from the TSP &amp; TEM.</li>
    </ul>
    <p></p>
    <p></p><h5 class="text-center">Access conditions to the network system</h5>
    <p></p>
    <p>The access right to the data-processing systems is personal and inalienable. 'the
      recipients of a password commit themselves not to reveal it and not to give free
      access to their data-processing account to any unauthorized person. The use of data
      processing resources of Minet is restricted to educational activities, research and
      leisure. Without preliminary authorization, these resources cannot be used for
      projects financed by an external support not validated by the office of the Minet
      association, after consultation by the direction of TSP &amp; TEM. The members of
      Minet only have access to the Maisel network (to education and research networks
      too) for which a password is delivered. They agree to use their access rights only for
      the exclusive framework of teaching activities or leisure and not to misuse the data-
      processing resources and networks at their disposal. The use rights are defined and
      can be modified during the year, by the persons in charge of the Minet association
      which have delivered an access right or by the persons in charge of the data-
      processing systems of TSP &amp; TEM. The right of access to the data-processing
      systems of Mmet is granted to a user only under the condition that he gives to the
      Minet association his signature at the bottom of the present declaration stipulating
      that he has read and understood these data-processing rules and the other texts of
      laws mentioned above, and also that he has paid the contribution of for the Minet
      association for the year in progress. The right of access is granted to the members for
      the duration of a year or a six-month period, according to the duration of the selected
      hiring. The right of access is only authorized for pupils of TSP &amp; TEM. The direction
      of the TSP &amp; TEM has the right to refuse any connection, and the Minct association
      respects the decision which could be made the management. </p>

    <p></p><h5 class="text-center">Confidentiality of information</h5>
    <p></p>

    <p> The user of the data-processing systems should not try to read, copy or modify the
      files belonging to the other users or to the data-processing systems of Minet or TSP
      &amp; TEM, except in the case of explicitly authorized files. It's also forbidden to try to
      intercept any private communication between other users.</p>

    <p></p><h6 class="text-center">Ownership and license rights of software</h6>
    <p></p>

    <p> It is forbidden for any user of the data-processing systems to make copies of the
      software placed at his disposal, except those of the public domain or available free
      and to use it not in conformity with the regulations of their authors or company
      which places them at the disposal of the Minet association. It is also forbidden
      to install on the machines placed at his disposal any counterfeited software or for
      which the Minet association does not have a license, or in the case of a site license
      if the maximum number of authorized copies is already reached. It is forbidden to
      use the exchange discs of servers for the diffusion or the storage of pirated
      software.</p>

    <p></p><h6 class="text-center"> Use of the information processing systems</h6>
    <p></p>
    <p>The user of the data-processing systems mustn't :</p>
    <p>
    </p>
    <ul>
      <li> use accounts other than those for which he has right of access</li>
      <li> carry out operations with the purpose of mistaking other users on his identity</li>
      <li> try to appropriate or to decipher the password another user</li>
      <li> try to limit or to ban the access to the data-processing systems of authorized users</li>
    </ul>
    <p></p>
    <li> introduce and to diffuse data-processing viruses • use its account(s) to attack
      other data-processing systems of networks connected to the Maisel network
    </li>
    <p></p>

    <p>Any user of a data-processing network commit himself not to carry
      out operations which could have as a consequence :</p>
    <p></p>
    <ul>
      <li> to interrupt the normal operation of the network or one of the systems connected to the network (computers,
        printers, routers, etc)
      </li>
      <li> to have access to private information of other users on the network</li>
      <li> to modify or destroy information on any system connected to the network</li>
      <li> to require the implementation of human or technical additional means for its control or its destruction.</li>
    </ul>
    <p>The volume and the nature of the information exchanged on the
      networks must be in conformity with the rules of use which can be
      enacted by the persons in charge for the data-processing systems of
      Minet or the TS P &amp; TEM</p>

    <p></p><h5 class="text-center">Few security rules</h5>
    <p></p>
    <p>&gt;The user must own an anti-virus with a recent definition of virus (15
      days max) and an updated system. The user must not connect a non
      declared machine in any case, nor fly to set an IP manually. The
      connection of a WiFi router (without the authorization of Minet) will
      lead to an immediate disconnection until the end of the year.</p>
    <p> The use of any Peer to Peer protocol software (μtorrent, BitTorrent...) is
      absolutely forbidden. The first Peer to Peer traffic detection, the use will
      receive a warning e-mail to stop it immediately, otherwise, Displinary
      sanctions will be applied. Furthermore, any external complaint will lead
      to immediate sanction. Any sanction stated by the law and related to
      illegal download of protected artwork will be applied and the user will
      be the sole responsible </p>

    <p></p><h5 class="text-center">Règles particulières</h5>
    <p></p>
    <p> The administrators or members of the office of the association Minet
      who, by their function, have larger rights allowing them to have access
      to confidential information are held to respect the professional secrecy
      and the security instructions emitted by the person in charge of the
      network for the association Minet. They are not allowed to do any
      susceptible intervention which will compromise the safety and the
      operation of the data-processing systems of the Mines association. Only
      the Minet president and the Director of the TSP &amp; TEM arc entitled to
      raise the professional secrecy. </p>

    <p></p><h5 class="text-center">Applicable sanctions</h5>
    <p></p>
    <p> Any user who will transgress the provisions of this rule is liable, according to the gravity and the nature of
      the infraction</p>
    <p></p>
    <ul>
      <li>an interdiction of connection for a duration from two weeks to one month</li>
      <li>an exclusion from the Minet association, with an immediate disconnection</li>
      <li>internal sanctions from the TSP &amp; TEM being able to reach the convocation of the disciplinary board</li>
      <li>penal legal proceedings.</li>
    </ul>
    <p></p>
  </div>
</div>
