<nav class="navbar navbar-expand-lg navbar-dark bg-dark color-white">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../../assets/images/logo.png" height="30" style="margin-right: 10px"/>
    MiNET Hosting
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active', 'text-primary']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" *ngIf="(validToken$ | async) && !user.admin && user.chartevalidated" [routerLink]="['vms']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active', 'text-primary']">My VMs</a>
        <a class="nav-link" href="#" *ngIf="(validToken$ | async) && user.admin" [routerLink]="['vms']" [routerLinkActiveOptions]="{exact: true}"  [routerLinkActive]="['active', 'text-primary']">VMs Admin</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" *ngIf="(validToken$ | async) && !user.admin && user.chartevalidated" [routerLink]="['dns']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active', 'text-primary']" >MiNET DNS entries</a>
        <a href="#" class="nav-link" *ngIf="(validToken$ | async) && user.admin" [routerLink]="['dns']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active', 'text-primary']" >DNS Admin</a>
      </li>

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" *ngIf="(validToken$ | async)" href="https://adh6.minet.net">{{user.name}}</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" [routerLink]="['manual']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active', 'text-primary']" >User manual</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" *ngIf="!(validToken$ | async)" (click)="userService.login()">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="(validToken$ | async)" (click)="userService.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

