<div *ngIf="loading && ((user.chartevalidated && user.cotisation===1) || user.admin)">
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<h1 class="text-center mb-2" *ngIf="!user.admin">DNS entries</h1>
<h1 class="text-center mb-2" *ngIf="user.admin">Admin DNS</h1>
<div class="dns container" *ngIf="!loading && ((user.chartevalidated && user.cotisation===1) || user.admin)">
  <ng-container *ngIf="user.dns.length == 0; else dnsEntries">
  <hr>
  <h4 class="text-danger text-center" *ngIf="!user.admin">You currently have no DNS entries defined!</h4>
  <h4 class="text-danger text-center" *ngIf="user.admin">There is currently no DNS entries!</h4>
  <hr>
  </ng-container>
  <ng-template #dnsEntries>
    <ngb-pagination [collectionSize]="user.dns.length" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
    <table class="table mt-5">
      <thead>
      <tr>
        <th scope="col" *ngIf="user.admin">User</th>
        <th scope="col">Host</th>
        <th scope="col">Destination</th>
        <th scope="col">Manage</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dns of user.dns | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td *ngIf="user.admin">{{dns.user}}</td>
        <td><a href="http://{{dns.entry}}.h.minet.net">{{dns.entry}}</a></td>
        <td>{{dns.ip}}</td>
        <td><button class="btn-sm btn-danger" (click)="delete_entry(dns.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </ng-template>

  <div class="text-center">
    <button class="btn btn-primary" (click)="showForm = !showForm">Add new entry</button>
  </div>
  <ngb-pagination [collectionSize]="user.dns.length" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
  <div *ngIf="showForm" class="card text-white mb-3 mt-5">
    <div class="card-body">
      <div>
        <form (ngSubmit)="create_dns(newDns)" #vmForm="ngForm">
          <div *ngIf="vmForm.submitted && errorMessage == ''">
            Request submitted...
          </div>
          <div [hidden]="errorMessage == ''" class="alert alert-danger">
            <strong style="text-align: center;">Error {{errorcode}} : {{httpErrorMessage}}</strong><br><br>
            {{errorMessage}}
          </div>

          <div class="alert-success" *ngIf="success">
            You entry has been created
          </div>

          <ng-container>
            <div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="entry-name-prepend">Subdomain</span>
                </div>
                <input type="text" class="form-control" id="dnsEntry" aria-label="Entry"
                       aria-describedby="entry-name-prepend"
                       [(ngModel)]="newDns.entry" name="dnsEntry"
                       required="required"
                       #entry="ngModel">
              </div>
              <span id="textHelpBlock" class="form-text text-muted">URL will be: {{newDns.entry}}.h.minet.net</span>
              <div [hidden]="entry.valid || entry.pristine" class="alert alert-danger">
                Entry is required
              </div>

              <div class="input-group mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="ip-address-prepend">IP Address</span>
                </div>
                <!--<input type="text" class="form-control" id="ip" aria-label="IP Address"
                       aria-describedby="ip-address-prepend"
                       [(ngModel)]="newDns.ip" name="ip"
                       required="required"
                       #ip="ngModel">-->
                       <select class="form-control" id="ip"
                                            aria-label="IP Address"
                                            aria-describedby="ip-address-prepend"
                                            required="required"
                                            [(ngModel)]="newDns.ip" name="ip"
                                            #ip="ngModel">
                      <option *ngFor="let myip of ipList" [value]="myip">{{myip}}</option>
                                        
                  </select>
              </div>
              
              <div [hidden]="ip.valid || ip.pristine" class="alert alert-danger">
                IP is required
              </div>
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-danger text-center" *ngIf="this.user.cotisation === 0">
  <b>Expired subscription</b>
  <p>To create a DNS entry you have to renew your subscription ! <a href="https://payment.minet.net/">click here</a> to renew your subscription</p>
</div>

<div class="alert alert-danger text-center" *ngIf="!this.user.chartevalidated && !user.admin && this.user.cotisation ===1">
  <b>Unsigned charter !</b>
  <p>To create a DNS entry you have to sign the hosting charter ! <a href="https://chartes.minet.net/">click here</a> to sign the rules</p>
</div>

