<div class="allowedpermission" *ngIf="user.admin">
   <h4 class="text-center">{{'history.title' | translate}}</h4>
   <div class="row" style="margin-top: 20px;" *ngIf="this.user.admin">
      <div class="col-12">
         <div class="card">
            <div class="card-body">
               <hr>
               <div class="text-center">{{'history.description' | translate}}</div>
               <ngb-pagination *ngIf="user.admin" [collectionSize]="this.history.length" [pageSize]="pageSize" [(page)]="page"
                               aria-label="Default pagination"></ngb-pagination>
               <div class="md-form">
                  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="{{'history.search.placeholder' | translate}}">
               </div>
               <table style="margin-top: 20px" class="table table-striped">
                  <thead>
                  <th scope="col">{{'history.table.ip' | translate}}</th>
                  <th scope="col">{{'history.table.date' | translate}}</th>
                  <th scope="col">{{'history.table.vmId' | translate}}</th>
                  <th scope="col">{{'history.table.userId' | translate}}</th>
                  </thead>
                  <tbody>
                  <tr scope="row" *ngFor="let lign of this.history | filter: searchText | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                     <td *ngFor="let column of lign"> {{ column }}</td>
                  </tr>
                  </tbody>
               </table>
               <ngb-pagination *ngIf="user.admin" [collectionSize]="this.history.length" [pageSize]="pageSize" [(page)]="page"
                               aria-label="Default pagination"></ngb-pagination>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="!user.admin">
   {{'global.noPermission' | translate}}
</div>